<div class="container mt-5">
        <h2>Weather forecast for next 5 days at {{cityName}}</h2>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temperature</th>
                    <th>Sea Level</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let forecast of forecastList" (click)="getWeatherDetails(city)">
                    <td>{{forecast.dt_txt | date: 'dd MMM yyyy'}}</td>
                    <td>{{forecast.main.temp}}</td>
                    <td>{{forecast.main.sea_level}}</td>
                </tr>
            </tbody>
        </table>
    </div>
