<div class="container mt-5">
    <h2>Weather Details</h2>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>City</th>
                <th>Temperature</th>
                <th>Sunrise</th>
                <th>Sunset</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let city of cities" (click)="getWeatherDetails(city)">
                <td>{{city.name}}</td>
                <td>{{city.main.temp}}</td>
                <td>{{city.sys.sunrise}}</td>
                <td>{{city.sys.sunset}}</td>
            </tr>

        </tbody>
    </table>
</div>